alabaster==0.7.12
antlr4-python3-runtime==4.9.2
Babel==2.9.0
certifi==2020.12.5
chardet==4.0.0
cocotb==1.6.1
colorama==0.4.4
crytic-compile==0.2.0
docutils==0.16
idna==2.10
imagesize==1.2.0
Jinja2==2.11.3
MarkupSafe==1.1.1
packaging==20.9
peewee==3.14.3
prettytable==2.1.0
protobuf==3.17.3
pygame==2.1.0
Pygments==2.8.1
pyparsing==2.4.7
PyQt3D==5.15.5
PyQt5==5.15.6
PyQt5-sip==12.9.0
PyQt6==6.1.0
PyQt6-3D==6.1.0
PyQt6-Charts==6.1.0
PyQt6-DataVisualization==6.1.0
PyQt6-NetworkAuth==6.1.0
PyQt6-sip==13.1.0
PyQtChart==5.15.5
PyQtDataVisualization==5.15.5
PyQtNetworkAuth==5.15.5
PyQtPurchasing==5.15.5
PyQtWebEngine==5.15.5
pysha3==1.0.2
pytz==2021.1
requests==2.25.1
rstcheck==3.3.1
sip==6.1.1
six==1.16.0
slither-analyzer==0.8.0
snowballstemmer==2.1.0
Sphinx==3.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-soliditydomain==0.5.1
TBB==0.2
toml==0.10.2
urllib3==1.26.3
vunit-hdl==4.6.0
wcwidth==0.2.5